.works_block {
    background: url(../../images/bg/hero.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}
.works_block .arrow_block-works {
    bottom: 260px;
}
.triangles-works .triangleBlog {
    fill:#0d1120;
}
.my_work {
    height: 100vh;
}
.site_school {
    background-color: #f2f0e8;
    width: 50%;
    height: 100%;
}
